[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies
[submodule "lib-externes/AboutDialog-Delphi-Component"]
	path = lib-externes/AboutDialog-Delphi-Component
	url = https://github.com/DeveloppeurPascal/AboutDialog-Delphi-Component.git
[submodule "lib-externes/Delphi-FMXExtend-Library"]
	path = lib-externes/Delphi-FMXExtend-Library
	url = https://github.com/DeveloppeurPascal/Delphi-FMXExtend-Library.git
[submodule "lib-externes/Pic-Resize"]
	path = lib-externes/Pic-Resize
	url = https://github.com/DeveloppeurPascal/Pic-Resize.git
[submodule "lib-externes/YTVideoSeries"]
	path = lib-externes/YTVideoSeries
	url = https://github.com/DeveloppeurPascal/YTVideoSeries.git
[submodule "lib-externes/DOSCommand"]
	path = lib-externes/DOSCommand
	url = https://github.com/TurboPack/DOSCommand.git
